.footer {
  background-color: #004466;
  color: white;
  height: 88px;
  padding: 0;
  text-align: center;
  margin-top: auto;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
